footer {
    /* display: flex;
    justify-content: center;
    align-items: flex-end; */
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #A1B9E8;
}

p {
    font-family: 'Roboto' ;
}