#App {
    display: grid;
    grid-template-rows: 5vh 90vh 5vh;
    position: fixed;
    width: 100vw;
    text-align: center;
}

main {
    padding: 10px 0;
    width: 100vw;
    max-height: 95vh;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -1;
    grid-auto-rows: min-content;
}

.title { 
    font-family: var(--font-accent);
    grid-column: 1 / -1;
    text-align: center;
}

ul, ol, li { padding: 0; list-style: none; margin: 0; }

.grid { 
    object-fit: cover;
    overflow: hidden;
}

#modal {
    color: var(--text-accent);
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80vh;
    width: 60vw;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: var(--accent);
    font-size: 2rem;
    border: 2px solid grey;
}

#modal p {
    font-size: 1rem;
}

#modal li {
    font-size: 1.2rem;
}

.err { color: 'red' }

@media only screen and (min-width: 768px) {
    main {
        max-width: 80vw;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    .col-2 { grid-column-end: span 2; }
    .col-3 { grid-column-end: span 3; }
    .col-4 { grid-column-end: span 4; }
    .col-5 { grid-column-end: span 5; }
    .col-6 { grid-column-end: span 6; }
    .col-7 { grid-column-end: span 7; }
    .col-8 { grid-column-end: span 8; }
    .col-9 { grid-column-end: span 9; }
    .col-10 { grid-column-end: span 10; }
    .col-11 { grid-column-end: span 11; }
    .col-12 { grid-column-end: span 12; }

    .row-2 { grid-row-end: span 2; }
    .row-3 { grid-row-end: span 3; }
    .row-4 { grid-row-end: span 4; }
    .row-5 { grid-row-end: span 5; }
    .row-6 { grid-row-end: span 6; }
    .row-7 { grid-row-end: span 7; }
    .row-8 { grid-row-end: span 8; }
    .row-9 { grid-row-end: span 9; }
    .row-10 { grid-row-end: span 10; }
    .row-11 { grid-row-end: span 11; }
    .row-12 { grid-row-end: span 12; }
}